<div class="row">
	<div class="col-md-6">
		<div class="card text-md-center">
		  <div class="card-header">
		    <%= task.user %>
		  </div>
		  <div class="card-block">
		    <p class="card-text"><%= task.content %></p>
		  </div>
		  <div class="card-footer text-muted">
		    <%= time_tag task.created_at, time_ago_in_words(task.created_at) %>
		  </div>
		</div>
	</div>
</div>